/*************************************
HEADING
**************************************/

h1 {
color: blue;
font-family: arial, sans-serif;
font-size: 16px;
font-weight: bold;
margin-top: 0px;
margin-bottom: 1px;
}
